  header {
    width: 100%;
    background-color: rgba(253, 253, 0, 0.35);
    text-align: right;
    padding: 20px 0;
    a {
      display: inline-block;
      padding: 0 10px;
      cursor: pointer;
    }
  }

